.padding {padding-left: inherit;  padding-right: inherit;}

.search-box{
    width: 100%;
    padding-left: 10px;
    line-height: 35px;
    font-size: 20px;
}

.thumbnail{min-height: 300px;}

.thumbnail-img{min-height: 167.67px;}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.loadinggif
{
    background:
            url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
            no-repeat
            right center;
}

.listing-caption {min-height: 38px;}


.banner-background {
    background: url('/assets/Nevis-fleurs.jpg') no-repeat;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: -20px;
}

.banner-text{
    text-align: center;
}